@import url("../fonts/Eczar/eczar.css");

/* gelasio-regular - latin */
@font-face {
  font-family: "Gelasio";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/gelasio-v4-latin-regular.woff2") format("woff2"),
}
/* gelasio-italic - latin */
@font-face {
  font-family: "Gelasio";
  font-style: italic;
  font-weight: 400;
  src: local(""),
       url("../fonts/gelasio-v4-latin-italic.woff2") format("woff2"),
}
/* gelasio-500 - latin */
@font-face {
  font-family: "Gelasio";
  font-style: normal;
  font-weight: 500;
  src: local(""),
       url("../fonts/gelasio-v4-latin-500.woff2") format("woff2"),
}
/* gelasio-500italic - latin */
@font-face {
  font-family: "Gelasio";
  font-style: italic;
  font-weight: 500;
  src: local(""),
       url("../fonts/gelasio-v4-latin-500italic.woff2") format("woff2"),
}
/* gelasio-700 - latin */
@font-face {
  font-family: "Gelasio";
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("../fonts/gelasio-v4-latin-700.woff2") format("woff2"),
}
/* gelasio-700italic - latin */
@font-face {
  font-family: "Gelasio";
  font-style: italic;
  font-weight: 700;
  src: local(""),
       url("../fonts/gelasio-v4-latin-700italic.woff2") format("woff2"),
}

/* la-belle-aurore-regular - latin */
@font-face {
  font-family: "La Belle Aurore";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/la-belle-aurore-v11-latin-regular.woff2") format("woff2"),
}

/* noto-sans-jp-regular - latin */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/noto-sans-jp-v28-latin-regular.woff2") format("woff2"),
}

/* Pathfinder action glyphs */
@font-face {
    font-family: "Pathfinder2eActions";
    src: url("../fonts/Pathfinder2eActions.ttf");
}

/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/roboto-v29-latin-ext_latin_cyrillic-regular.woff2") format("woff2"),
}
/* roboto-italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""),
       url("../fonts/roboto-v29-latin-ext_latin_cyrillic-italic.woff2") format("woff2"),
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
       url("../fonts/roboto-v29-latin-ext_latin_cyrillic-500.woff2") format("woff2"),
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("../fonts/roboto-v29-latin-ext_latin_cyrillic-700.woff2") format("woff2"),
}
/* roboto-700italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local(""),
       url("../fonts/roboto-v29-latin-ext_latin_cyrillic-700italic.woff2") format("woff2"),
}
/* roboto-500italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local(""),
       url("../fonts/roboto-v29-latin-ext_latin_cyrillic-500italic.woff2") format("woff2"),
}
/* roboto-900 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""),
       url("../fonts/roboto-v29-latin-ext_latin_cyrillic-900.woff2") format("woff2"),
}
/* roboto-900italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: local(""),
       url("../fonts/roboto-v29-latin-ext_latin_cyrillic-900italic.woff2") format("woff2"),
}

/* roboto-condensed-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/roboto-condensed-v24-latin-ext_latin_cyrillic-regular.woff2") format("woff2"),
}
/* roboto-condensed-italic - latin-ext_latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  src: local(""),
       url("../fonts/roboto-condensed-v24-latin-ext_latin_cyrillic-italic.woff2") format("woff2"),
}
/* roboto-condensed-700 - latin-ext_latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("../fonts/roboto-condensed-v24-latin-ext_latin_cyrillic-700.woff2") format("woff2"),
}
/* roboto-condensed-700italic - latin-ext_latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  src: local(""),
       url("../fonts/roboto-condensed-v24-latin-ext_latin_cyrillic-700italic.woff2") format("woff2"),
}

/* vollkorn-regular - latin */
@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/vollkorn-v13-latin-regular.woff2") format("woff2"),
}
/* vollkorn-500 - latin */
@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 500;
  src: local(""),
       url("../fonts/vollkorn-v13-latin-500.woff2") format("woff2"),
}
/* vollkorn-700 - latin */
@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("../fonts/vollkorn-v13-latin-700.woff2") format("woff2"),
}
/* vollkorn-900 - latin */
@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 900;
  src: local(""),
       url("../fonts/vollkorn-v13-latin-900.woff2") format("woff2"),
}

:root {
    /** Font-size variables not defined by Foundry */
    --font-size-8: 0.5rem;
    --font-size-9: 0.5625rem;
    --font-size-10: 0.625rem;
    --font-size-15: 0.9375rem;
    --font-size-17: 1.0625rem;
    --font-size-20: 1.25rem;
    --font-size-21: 1.3125rem;
    --font-size-22: 1.375rem;
    --font-size-26: 1.625rem;
    --font-size-32: 2rem;
    --font-size-34: 2.125rem;
    --font-size-42: 2.625rem;

    /** Font families */
    --body-serif: Gelasio, Georgia, serif;
    --sans-serif: Roboto, sans-serif;
    --sans-serif-condensed: "Roboto Condensed", var(--sans-serif);
    --serif: Eczar, Georgia, serif;
    --serif-condensed: "Modesto Condensed", serif;
    --journal-cursive: "La Belle Aurore", cursive;
    --journal-serif: "Vollkorn", var(--serif);
}
